
 <% form_for :thing, :url=>{:action=>"print_report"} do |f| -%>


 
 <table">
   <tr>
     <td>



      <label for="dump_file">
Sort Report by
      </label>
     </td>
     <td >


<%= select(:dump, :sort_order, options_for_select(suggestions_for_select()) )			 %>
			 
			 
			 
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' -%>
     </td>
   </tr>
 </table>
<% end -%>
 
 

 