<%= flash_notice  %>

<h1>About Seeing The Roses</h1>


<a name="top">&nbsp;</a>

<ol>
<li><a href="#faq1">What is mindfulness?</a></li>
<li><a href="#faq2">What is mindful seeing?</a></li>
<li><a href="#faq3">What is the different between mindfulness and meditation?</a></li>
<li><a href="#faq4">Who created <em>Seeing the Roses</em>?</a></li>
<li><a href="#faq5">Why is it called <em>Seeing the Roses</em>?</a></li>
<li><a href="#faq6">How can I contact or volunteer to help <em>Seeing the Roses</em>?</a></li>
</ol>



<!-- =============================================================================================== -->

<ol>

<li>

<b><a name="faq1">What is mindfulness?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#top">Back to Top</a>


<p> 
Mindfulness is often defined as paying attention to the present moment with an attitude of equanimity that is
friendly and accepting rather than being critical.
</p>
</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq2">What is mindful seeing?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#top">Back to Top</a>

<p> 
Mindful seeing is practicing mindfulness with a special emphasis on the sense of vision.
</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq3">What is the different between mindfulness and meditation??</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#top">Back to Top</a>

<p> 
Formal meditation often involves sitting and focusing on a specific object of attention, such as the breath.
Mindfulness involves paying attention to what is going on around you with all of your senses. Therefore, the two words are
not synonyms.

They are often associated with each other, however, as meditation is a good way to prepare to become mindful. Meditation 
quiets the 
inner dialogue that pulls one out of the present and into ruminations about the past or anxieties about the future.
Therefore, at the conclusion of a meditation, one typically emerges in a mindful state that is naturally focused on the present
with acceptance and equanimity.

Mindfulness is like taking that meditative state with you as you go about your business, but not so deeply that it interferes 
with your ability to go about your business. In fact, by helping you cultivate your attention, mindfulness can
help you become more productive.

</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq4">Who created <em>Seeing the Roses</em>?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#top">Back to Top</a>

<p>
The <em>Seeing the Roses</em> project was created by

<a href="http://transparenteye.net/?page_id=387">Rick Heller</a>
 with the help of others among the <a href="http://harvardhumanist.org/">Harvard Humanist</a>
and the <a href="http://www.meetup.com/Cambridge-Secular-Buddhists/">Cambridge-Somerville Secular Buddhist</a> communities.
Rick had been thinking about how mindfulness could  be helpful in dealing with climate change, and was inspired to take it further after hearing
a talk at the <a href="http://www.cimc.info/">Cambridge Insight Meditation Center</a> by Andrew Olendzki on how desire drives climate change. 
Although influenced by Buddhism, <em>Seeing the Roses</em> is a secular practice of cultivating attention that is suitable for people of any or no religious faith.
</p>

</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq5">Why is it called <em>Seeing the Roses</em>?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#top">Back to Top</a>
<p>
Rick led a meditation on Valentine's Day for a friend of his wife's who had received roses on that day. 
At the conclusion of the meditation, she opened her eyes and her gaze fell upon the roses. She remarked
on how much more vivid they seemed to be after the meditation. As she had become mindful, her senses
were temporarily amplified and she had seen the roses in a new way. 
</p>
<p>
Roses are, of course, very sensual, giving rise to the expression "stop and smell the roses."
</p>

</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq6">How can I contact or volunteer to help <em>Seeing the Roses</em>?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#top">Back to Top</a>
<p>
Email: seeingtheroses at gmail dot com. 
</p>
</li>



</ol>

