


<p>
&nbsp;
</p>

<h1>Mindful Economics</h1>

<p>
Mindfulness is a personal practice, so it may not be easy to see how it relates to economics. But in fact, our current economic system suffers from a lack of mindfulness. 
</p>

<p>
Once a family's income exceeds $75,000, further income makes no difference in that family's emotional well-being. This finding, by psychologist Daniel Kahneman, a Nobel laureate in Economics, raises the question: Why do the 1% pursue wealth far beyond their ability to enjoy it, and resist sharing their good fortune with the other 99%? 
</p>

<p>
One reason is that most material goods provide only transitory satisfaction. People quickly take them for granted, and once they lose interest, they feel a need to replace them with something new. This leads to a cycle of addictive spending that psychologists call the consumer treadmill. 
</p>

<p>
Mindfulness is a psychological practice that helps people step off the consumer treadmill. Although derived from Eastern philosophy, mindfulness is now a secular practice suitable for people of any religious orientation. 
</p>

<p>
When being mindful, we focus on the present moment in a specific way. It increases the sense of freshness and novelty in daily life and simply makes life more interesting. Paying attention is something that can be cultivated. When you know how to do it right, it's not boring-it's literally wonderful.
</p>

<p>
Wealthy people in the top 1%, if mindful, will realize that they can share some of their wealth with the other 99% and still be happy. For the rest of us, the practice of mindfulness can help us enjoy this very moment on a more modest budget. Once people have met their basic physical needs for food, clothing, shelter, and health care, the rest is psychological. By being more mindful, we can create a global economy that meets the physical and psychological needs of more people than the current model that focuses on the appetites of a fortunate few.
</p>

<p>
This is <strong><em>not</em></strong> a call for a centralized, state-run enterprise system. 
An excessively top-down approach is the precise opposite of mindfulness, 
in that it glosses over the details that mindfulness glories in. 
Mindful economics owes much to E.F. Schumacher's Buddhist Economics, 
described in his 1966 <a href="http://www.smallisbeautiful.org/buddhist_economics/english.html">essay</a> . 
Besides being dated as to gender relations, the weakness of Schumacher's theory is that it comes without a practice. 
Mindfulness is the missing element that can make a more modest society truly satisfying.
</p>





<p>
<strong>
TRY THIS - 
</strong>
</p>

<p>
Mindfulness is being open to your present environment right now. Meditation is a great preparation for mindfulness, but you can be mindful without meditating. Perhaps the best description of mindfulness, without ever using the word, is by Rachel Carson in her book, The Sense of Wonder:
</p>

<p>
<em>
Exploring nature with your child is largely a matter of becoming receptive to what lies all around you. It is learning again to use your eyes, ears, nostrils, and finger tips, opening up the disused channels of sensory impression. For most of us, knowledge of our world comes largely through sight, yet we look about with such unseeing eyes that we are partially blind. One way to open your eyes to unnoticed beauty is to ask yourself, "What if I had never seen this before? What if I knew I would never see it again?"
</em>
</p>

<p>
One way to become mindful of a place, thing or sentient being is to follow Rachel Carson's suggestion and ask yourself, "What if I knew I would never see it again?" To bring this message "home," consider that many people are being forced to leave their homes. What if that happened to you?
</p>

<p>
Pick one room in your home and try to notice everything, so the memory of it will be with you always. Notice decorative flourishes on the ceiling and window frames. Dust, cracks and stains are just more interesting details to note. Take it all in with nonjudgmental, loving attention.
</p>

<p>
What do you see that you haven't noticed for a long time? Do you see anything that you never noticed before? What lovely things do you take for granted?
</p>



<p>
<strong>
Resources:
</strong>
</p>

<p>
<a href="http://seeingtheroses.org/">Seeing The Roses</a><br />
This web site was originally created to show how mindfulness can help us deal with the economic pressures that drive climate change.
It is now adding an additional focus on the economic crisis itself, and how mindfulness can help us deal with it.
<a href="http://seeingtheroses.org/">Videos</a>
teach both formal meditation and sensory mindfulness practices.
</p>


<p>
<a href="http://www.julietschor.org/">Juliet Schor</a><br />
Boston College economist Juliet Schor has laid out an economic vision in her book, Plenitude, that deals with the economics and climate crises.
</p>

<p>
<a href="http://www.newdream.org/">
Center for a New American Dream</a>
<br>
This organization seeks to recast the <em>American Dream</em> in less materialistic terms.
</p>


<p>
<a href="http://steadystate.org/learn/blog/">
Center for the Advancement of the Steady State Economy
</a>
<br>
Promotes the idea that affluent Western societies should seek
to stablize their economies rather than continue to grow them 
in a way that is damaging to the environment.
</p>


<p>
<a href="http://neweconomicsinstitute.org/">
New Economics Institute</a>

<br>
This organization carries forth the vision of E. F. Schumacher 
</p>


<p>

<a href="http://www.mindfuleconomics.com/mindful_economics.html">
Mindful Economics</a> by Joel Magnuson
<br />
I'm not really a fan of this book, but I must acknowledge 
that when I looked to see if anyone had used the term <em>Mindful Economics</em> 
before I thought of it, I found that Joel Magnuson had preceded me. Magnuson seems to think a 
more mindful economy requires a transition from 
capitalism to socialism. I think a 
more <a href="http://www.greeneconomics.net/ValueRevolution.htm">mindful market system</a>
could avoid many of the problems of the currently dominant economic model that stems from the Reagan-Thatcher revolution.
</p>







<!-- =============================================================================================== -->

<p>For more information:
</br /> 
Email: seeingtheroses at gmail dot com. 
</br />
Twitter: @seeingtheroses
</p>





<div style="color: red; border: 1px solid black; width: 50%; background-color:ivory;">
<p>
At 6 pm, Thursday, October 13, 2011 at
<a href="http://occupyboston.com/">OccupyBoston</a>
Rick Heller <s>will lead</s> led a mindfulness meditation along with a discussion of mindful economics. 

See the <a href="http://www.meetup.com/Cambridge-Secular-Buddhists/">meetup page</a> or the OccupyBoston <a href="https://www.google.com/calendar/event?eid=YzlkbTViZGpuOXJ1M2I3dWo1NmxqYzNkcjAgOW85MG90NnBsOGJqbWdqcGUzN2J2NWh0NDRAZw&ctz=America/New_York&gsessionid=OK">calendar</a>.

Rick is the facilitator of 
the 
<a href="http://www.facebook.com/groups/207307035531/">Secular Mindfulness Group</a> in Cambridge, Mass. and
editor of 
<a href="http://www.thenewhumanism.org/">The New Humanism</a>
</p>
</div>

