  


<div id="next_prev">
  
	
		
   
    <div id="page_next">
    <a href="/pages/show/2">Next Page</a>
		</div>
	
	
    <div id="page_headline">
		The Sense of Wonder
    </div>

	
</div>

<div id="page_structure">
<div id="page_left">
<p>A simple way to define mindfulness is paying <em>loving attention to the present moment</em>. That's the kind of attention our planet needs and clearly isn't getting. Paying attention is something that can be cultivated. When you know how to it right, it's not boring&mdash;it's literally wonderful.
</p>

<p>
The goal of the <em>Seeing the Roses</em> project is to make caring for ourselves, each other, and the planet into something delightful. Because, although some people will make sacrifices to save the environment, many won't. Thus, we need to find ways people can pursue their happiness without degrading the planet.  
</p>

<p>

Through a series of short videos, <em>Seeing the Roses</em> shows how to experience a sense of wonder in the present moment. 
We can see and taste the wonder of life whether we're out in nature or even in the city.
By becoming aware of the richness around us, 
we feel less need to acquire more and more possessions. 
After all, the greenest product is <strong><em>the one that isn't made</em></strong>.
</p>

<p>
To get started, please view the 
video above about Rachel Carson, the founder of the modern environmental movement,
and her own special way of seeing.  
After that, click on <strong>Next Page</strong>
</p>
</div> 


<div id="page_video_headline">
</div>
<div id="page_vid">

  Rachel Carson's Sense of Wonder  (1 min. 40 sec.)
	<br />
  <iframe title="YouTube video player" width="425" height="269"  src="http://www.youtube.com/embed/v3sAwoUoyHo" frameborder="0" allowfullscreen></iframe>

</div>

</div> <!-- page_structure -->


<div id="page_central">




<div id="links_headline">
<p>Table of Contents</p>
</div>
<div id="links_core">
CORE VIDEOS
<br />
<br />

<a href="/pages/show/1">The Sense of Wonder</a>
<br />
<a href="/pages/show/2">Overview of Seeing the Roses</a>
<br />
<a href="/pages/show/3">Focusing on the Present</a>
<br />
<a href="/pages/show/4">The Consumer Treadmill</a>
<br />
<a href="/pages/show/5">Attention to Emotions</a>
<br />
<a href="/pages/show/6">Mindful Hiking</a>
<br />
<a href="/pages/show/7">Mindful Eating</a>
<br />

<a href="/pages/show/8">Roses Meditation</a>
<br />
<a href="/pages/show/9">Personal and Social Change</a>



</div>
<div id="links_other">
WHAT OTHERS HAVE TO SAY
<br />
<br />


<a href="/pages/show/19">Chip Hartranft on Yoga and Mindfulness</a>
<br />
<a href="/pages/show/20">Juliet Schor on Working Less to Emit Less Carbon</a>
<br />
<a href="/pages/show/11">Ellen Langer on Mindfulness</a>
<br />
<a href="/pages/show/10">Greg Epstein on Voluntary Simplicity</a>
<br />
<a href="/pages/show/18">Manuel Manga's Centering Practice</a>
<br />
<a href="/pages/show/12">Emily Peterson on Advertising</a>



</div>
<div id="links_deeper">
DEEPER ON THE TOPICS
<br />
<br />



<a href="/pages/show/13">Mindfulness</a>
<br />
<a href="/pages/show/14">Mental Noting</a>
<br />
<a href="/pages/show/15">Consumer Treadmill</a>
<br />
<a href="/pages/show/16">Feelings of Lack and Pain</a>
<br />
<a href="/pages/show/17">Mindfulness in Tradition</a>


</div>





</div> <!-- page_central -->
