 <div id="next_prev">
     
    <div class="page_next">
    <a href="/pages/show/overview-of-seeing-the-roses">Next Page</a>
		</div>
	
	
    <div id="page_headline">
		The Sense of Wonder
    </div>

	
</div>

<div id="page_structure">
<div id="page_left">

<p style="color:red">
New! 
<a href="http://www.growthbusters.org/2012/03/what-the-world-needs-now/">Read about Seeing the Roses on Growthbusters</a>
</p>

<p>Mindfulness is paying attention to the present moment with feelings of acceptance, benevolence or <em>even love</em>. Loving this moment may sometimes seem difficult, but it is a practice that can be cultivated. When you know how to do it well, it's literally wonder-full.
</p>

<p>
The goal of <em>Seeing the Roses</em> is to make caring for the planet delightful. Because, although some people will make sacrifices to save the environment, many won't. We need to find ways people can pursue happiness without degrading the planet.
</p>

<p>
Through a series of short videos, <em>Seeing the Roses</em> shows how to experience a sense of wonder in the present moment. By loving the richness already around us, we feel less need to acquire more and more manufactured goods that harm the environment. 
</p>

<p>
To get started, please view the 
video to the right about the pioneering environmentalist Rachel Carson.  
After that, click <strong>Next.</strong>
</p>







    <div class="page_next">
    <a href="/pages/show/overview-of-seeing-the-roses">Next</a>
		</div>
	

</div> 


<div id="page_video_headline">
</div>
<div id="page_vid">

  Rachel Carson's Sense of Wonder  (1 min. 40 sec.)
	<br />
  <iframe title="YouTube video player" width="425" height="269"  src="http://www.youtube.com/embed/v3sAwoUoyHo" frameborder="0" allowfullscreen></iframe>

</div>

</div> <!-- page_structure -->


<div id="page_central">

<%= render :partial => "pages/links"  %>

</div> <!-- page_central -->

