<div id="next_prev">
  
	
		
   
    <div class="page_next">
    <a href="/pages/show/love-now">Next Page</a>
		</div>
	
	
    <div id="page_headline">
		Love First
    </div>

	
</div>

<div id="page_structure">
<div id="page_left">
<p>
Everyone wants to feel love. We're in the habit, though, of thinking that someone has to love <em>us</em> before that can happen. In fact, the feeling of love comes from within, and we can feel it any time we want to&mdash;once we know how. 
</p>
<p>
Neuroscientists <a href="http://www.thenewhumanism.org/authors/rick-heller/articles/loving-kindness-on-the-brain">have identified</a> circuits in the brain responsible for feelings of love. You can exercise these circuits, just as you can exercise your muscles. One way to do this that has been shown to be effective is <em>loving-kindness practice</em>.
</p>

<p><em>Seeing the Roses</em> contains a series of free online videos that teach this practice. We are  sponsored by the 
<a href="http://harvardhumanist.org/">Humanist Community Project at Harvard</a>. The practices we present are secular and suitable for those who are <a href="/pages/show/for-skeptics">skeptical</a> of anything without a solid basis of scientific evidence. Just because you love science, though, doesn't mean you have to be coldly rational. You can love <em>people</em> too!
</p>
<p>The video to the right will introduce you to the practice. The full practice takes only five minutes, yet is remarkably effective in inspiring feelings of love&mdash;for yourself and for others. Why not give it a try?</p>



 
    <div class="page_next">
    <a href="/pages/show/love-now">Next</a>
		</div>
	

</div> 




<div id="page_video_headline">
</div>
<div id="page_vid">
  Loving-kindness Intro with Rick Heller(1 min. 34 sec.)
	<br />
  <iframe width="425" height="349" src="http://www.youtube.com/embed/tb1-IyhIf4s" frameborder="0" allowfullscreen></iframe>
</div>




</div> <!-- page_structure -->




<div id="page_central">

<%= render :partial => "pages/links"  %>

</div> <!-- page_central -->

